<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <ExcludeByFile>**/Migrations/**</ExcludeByFile>
          <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <Exclude>
            [Equibles.Migrations]*,
            [Equibles.Mcp.Server]*,
            [Equibles.Worker.Host]*,
            [Equibles.Integrations.*]*,
            [Equibles.Web]*,
            [Equibles.*.HostedService]*Worker,
            [Equibles.*.HostedService]*Scraper,
            [Equibles.*.HostedService]*DataSetClient,
            [Equibles.*.HostedService]*PersistenceService,
            [Equibles.*.Mcp]*.Extensions.*,
            [Equibles.Mcp]*.Extensions.*,
            [Equibles.Data]*PluginLoader,
            [Equibles.Data]*EquiblesModuleBuilder
          </Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
