@using Equibles.Web.ViewModels.Holdings
@model QuarterlySelectionViewModel
@if (Model.IsCombinedAvailable) {
    if (Model.IsCombinedSelected) {
        <option value="combined" selected>Current Combined</option>
    } else {
        <option value="combined">Current Combined</option>
    }
}
@foreach (var date in Model.AvailableDates) {
    <date-option date="@date" selected="@(!Model.IsCombinedSelected && date == Model.SelectedDate)" />
}
